<!-- The template file that webpack uses to build wwwroot/index.html -->
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <title>React Webpack Template</title>
    <link rel="stylesheet" href="index.css"/>
  </head>
  <body>
    <div id="mountNode"></div>
  </body>
</html>